.trimming {
position:relative;
width: 200px;
height: 200px;
overflow: hidden;
}

.img{
position:absolute;
top:-10px;
left:-20px;
}

.img-original {
 display: block;
 max-width: 100%;
 height: 100px;
 top: -50px;
 left: 50px;
 width: 100px;
 height: 100px;
}